<div>
  <div style="background: #333; width: 100%; height: 100%;">
    <table style="background: #333; margin: 0 auto;">
      <tr ng-repeat="row in $ctrl.display track by $index">
        <td ng-repeat="char in row track by $index" class="bigPixel">
          <table>
            <tr ng-repeat="pixelRow in $ctrl.pxMap[char] track by $index">
              <td ng-repeat="pixel in pixelRow track by $index"
                  class="smallPixel"
                  style="background: {{ pixel == ' ' ? '#111' : '#ff0' }}" />
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <br /><br />
  <div ng-repeat="row in $ctrl.display track by $index">
    <input type="text"
           ng-model="$ctrl.display[$index]"
           ng-trim="false"
           ng-change="$ctrl.sendDisplay()"
           style="font-family: monospace;"
           size="31" />
  </div>

  <br /><br />
  <div class="row" style="text-align: center">
    <div class="col-xs-4">
      <button ng-click="$ctrl.clearLeft()">clear</button><br /><br />
      <button ng-click="$ctrl.leftBigX()">Big X</button><br /><br />
      <button ng-click="$ctrl.leftX()">X</button><br /><br />
      <button ng-click="$ctrl.leftXX()">XX</button><br /><br />
      <button ng-click="$ctrl.leftXXX()">XXX</button><br /><br />
    </div>
    <div class="col-xs-4">
    <button ng-click="$ctrl.clearBoth()">clear</button><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />
    </div>
    <div class="col-xs-4">
      <button ng-click="$ctrl.clearRight()">clear</button><br /><br />
      <button ng-click="$ctrl.rightBigX()">Big X</button><br /><br />
      <button ng-click="$ctrl.rightX()">X</button><br /><br />
      <button ng-click="$ctrl.rightXX()">XX</button><br /><br />
      <button ng-click="$ctrl.rightXXX()">XXX</button><br /><br />
    </div>
  </div>


  <div class="row" style="text-align: center">
    <div class="col-xs-4">
      <button ng-click="$ctrl.newQuestion(1)">Q1</button><br /><br />
      <button ng-click="$ctrl.newQuestion(2)">Q2</button><br /><br />
      <button ng-click="$ctrl.newQuestion(3)">Q3</button><br /><br />
    </div>
    <div class="col-xs-4">
      <button ng-click="$ctrl.newQuestion(4)">Q4</button><br /><br />
      <button ng-click="$ctrl.newQuestion(5)">Q5</button><br /><br />
      <button ng-click="$ctrl.newQuestion(6)">Q6</button><br /><br />
    </div>
    <div class="col-xs-4">
      <button ng-click="$ctrl.newQuestion(7)">Q7</button><br /><br />
      <button ng-click="$ctrl.newQuestion(8)">Q8</button><br /><br />
      <button ng-click="$ctrl.newQuestion(9)">Q9</button><br /><br />
    </div>
  </div>
</div>
