<div style="background: #333; width: 100%; height: 100vh;">
  <div>
    <table style="background: #333; margin: 0 auto;">
      <tr ng-repeat="row in $ctrl.display track by $index">
        <td ng-repeat="char in row track by $index" class="bigPixel">
          <table>
            <tr ng-repeat="pixelRow in $ctrl.pxMap[char] track by $index">
              <td ng-repeat="pixel in pixelRow track by $index"
                  class="smallPixel"
                  style="background: {{ pixel == ' ' ? '#111' : '#ff0' }}" />
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
