<div>
  <br /><br />
  <div style="text-align: center">
    <button ng-repeat="q in $ctrl.questions track by $index"
            ng-click="$ctrl.newQuestion($index)"
            style="margin: 2px"><h2>Pytanie {{ $index + 1 }}</h2></button>
  </div>
  <br />
  <div class="row" style="text-align: center">
    <div class="col-xs-4">
      <button ng-click="$ctrl.clearLeft()">clear</button><br /><br />
      <button ng-click="$ctrl.leftBigX()">Big X</button><br /><br />
      <button ng-click="$ctrl.leftX()">X</button><br /><br />
      <button ng-click="$ctrl.leftXX()">XX</button><br /><br />
      <button ng-click="$ctrl.leftXXX()">XXX</button><br /><br />
    </div>
    <div class="col-xs-4">
    <button ng-click="$ctrl.clearBoth()">clear</button><br /><br />
    <div style="text-align: center">
    <div ng-repeat="q in $ctrl.questions track by $index" ng-show="$ctrl.currentQuestionIdx == $index">
      <div ng-repeat="ans in q track by $index">
        <button ng-click="$ctrl.answer($index, ans[0], ans[1])">{{ ans[0] }} -- {{ ans[1] }} pkt</button><br /><br />
      </div>
    </div>
  </div>
    </div>
    <div class="col-xs-4">
      <button ng-click="$ctrl.clearRight()">clear</button><br /><br />
      <button ng-click="$ctrl.rightBigX()">Big X</button><br /><br />
      <button ng-click="$ctrl.rightX()">X</button><br /><br />
      <button ng-click="$ctrl.rightXX()">XX</button><br /><br />
      <button ng-click="$ctrl.rightXXX()">XXX</button><br /><br />
    </div>
  </div>

  <div ng-repeat="row in $ctrl.display track by $index" style="text-align: center">
    <input type="text"
           ng-model="$ctrl.display[$index]"
           ng-trim="false"
           ng-change="$ctrl.sendDisplay()"
           style="font-family: monospace;"
           size="31" />
  </div>
</div>